# pip install tensorflow

In [1]:
import tensorflow as tf
import pandas as pd
import os

In [2]:
os.chdir('C:\\Users\\JOS\\Documents\\Machine Learning')

In [3]:
df=pd.read_csv("IRIS.csv")
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
df.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width      species
count     150.000000   150.000000    150.000000   150.000000          150
unique           NaN          NaN           NaN          NaN            3
top              NaN          NaN           NaN          NaN  Iris-setosa
freq             NaN          NaN           NaN          NaN           50
mean        5.843333     3.054000      3.758667     1.198667          NaN
std         0.828066     0.433594      1.764420     0.763161          NaN
min         4.300000     2.000000      1.000000     0.100000          NaN
25%         5.100000     2.800000      1.600000     0.300000          NaN
50%         5.800000     3.000000      4.350000     1.300000          NaN
75%         6.400000     3.300000      5.100000     1.800000          NaN
max         7.900000     4.400000      6.900000     2.500000          NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

# To find outliers

In [6]:
def IQR_values(df,column_name):
    q1=df[column_name].quantile(0.25) #to set quantille of columns
    q2=df[column_name].quantile(0.50)
    q3=df[column_name].quantile(0.75)
    IQR=q3-q1 #to find IQR value
    low_limit=q1-1.5*IQR #setting low limit and upper limit
    upper_limit=q3+1.5*IQR
    return low_limit,upper_limit

outlier={}
for column in ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']:
    low_limit,upper_limit=IQR_values(df,column)
    outlier[column]=[low_limit,upper_limit]
outlier

{'sepal_length': [3.1499999999999986, 8.350000000000001],
 'sepal_width': [2.05, 4.05],
 'petal_length': [-3.649999999999999, 10.349999999999998],
 'petal_width': [-1.95, 4.05]}

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
outindx=[]
for i in ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']:
    df_outl=(df[i]>outlier[i][1])|(df[i]<outlier[i][0])
    x=df.loc[df_outl].index
    outindx.append(x)
outindx

[Int64Index([], dtype='int64'),
 Int64Index([15, 32, 33, 60], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64')]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

# Replace outlier with mean

In [10]:
a=['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
for i in range(len(a)):
    df.loc[outindx[i],a[i]]=df[a[i]].mean()
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

# Min Max Scaling

In [12]:
df1=df.drop("species",axis=1)
df1

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [13]:
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()

In [15]:
x=scalar.fit_transform(df1)
df2=pd.DataFrame(x,columns=df1.columns)
df2

     sepal_length  sepal_width  petal_length  petal_width
0        0.222222     0.722222      0.067797     0.041667
1        0.166667     0.444444      0.067797     0.041667
2        0.111111     0.555556      0.050847     0.041667
3        0.083333     0.500000      0.084746     0.041667
4        0.194444     0.777778      0.067797     0.041667
..            ...          ...           ...          ...
145      0.666667     0.444444      0.711864     0.916667
146      0.555556     0.166667      0.677966     0.750000
147      0.611111     0.444444      0.711864     0.791667
148      0.527778     0.666667      0.745763     0.916667
149      0.444444     0.444444      0.694915     0.708333

[150 rows x 4 columns]

In [17]:
df.update(df2)
df

     sepal_length  sepal_width  petal_length  petal_width         species
0        0.222222     0.722222      0.067797     0.041667     Iris-setosa
1        0.166667     0.444444      0.067797     0.041667     Iris-setosa
2        0.111111     0.555556      0.050847     0.041667     Iris-setosa
3        0.083333     0.500000      0.084746     0.041667     Iris-setosa
4        0.194444     0.777778      0.067797     0.041667     Iris-setosa
..            ...          ...           ...          ...             ...
145      0.666667     0.444444      0.711864     0.916667  Iris-virginica
146      0.555556     0.166667      0.677966     0.750000  Iris-virginica
147      0.611111     0.444444      0.711864     0.791667  Iris-virginica
148      0.527778     0.666667      0.745763     0.916667  Iris-virginica
149      0.444444     0.444444      0.694915     0.708333  Iris-virginica

[150 rows x 5 columns]

# Label Encoding

In [18]:
from sklearn.preprocessing import LabelEncoder
lenc=LabelEncoder()
a=['species']
df[a] = df[a].apply(lenc.fit_transform)
df3=df[a]
df.update(df3)
df

     sepal_length  sepal_width  petal_length  petal_width  species
0        0.222222     0.722222      0.067797     0.041667        0
1        0.166667     0.444444      0.067797     0.041667        0
2        0.111111     0.555556      0.050847     0.041667        0
3        0.083333     0.500000      0.084746     0.041667        0
4        0.194444     0.777778      0.067797     0.041667        0
..            ...          ...           ...          ...      ...
145      0.666667     0.444444      0.711864     0.916667        2
146      0.555556     0.166667      0.677966     0.750000        2
147      0.611111     0.444444      0.711864     0.791667        2
148      0.527778     0.666667      0.745763     0.916667        2
149      0.444444     0.444444      0.694915     0.708333        2

[150 rows x 5 columns]

# Modelling

In [22]:
x=df.drop('species',axis=1)
y=df['species']
x

     sepal_length  sepal_width  petal_length  petal_width
0        0.222222     0.722222      0.067797     0.041667
1        0.166667     0.444444      0.067797     0.041667
2        0.111111     0.555556      0.050847     0.041667
3        0.083333     0.500000      0.084746     0.041667
4        0.194444     0.777778      0.067797     0.041667
..            ...          ...           ...          ...
145      0.666667     0.444444      0.711864     0.916667
146      0.555556     0.166667      0.677966     0.750000
147      0.611111     0.444444      0.711864     0.791667
148      0.527778     0.666667      0.745763     0.916667
149      0.444444     0.444444      0.694915     0.708333

[150 rows x 4 columns]

In [23]:
x=x.to_numpy()
y=y.to_numpy()
x

array([[0.22222222, 0.72222222, 0.06779661, 0.04166667],
       [0.16666667, 0.44444444, 0.06779661, 0.04166667],
       [0.11111111, 0.55555556, 0.05084746, 0.04166667],
       [0.08333333, 0.5       , 0.08474576, 0.04166667],
       [0.19444444, 0.77777778, 0.06779661, 0.04166667],
       [0.30555556, 0.94444444, 0.11864407, 0.125     ],
       [0.08333333, 0.66666667, 0.06779661, 0.08333333],
       [0.19444444, 0.66666667, 0.08474576, 0.04166667],
       [0.02777778, 0.38888889, 0.06779661, 0.04166667],
       [0.16666667, 0.5       , 0.08474576, 0.        ],
       [0.30555556, 0.83333333, 0.08474576, 0.04166667],
       [0.13888889, 0.66666667, 0.10169492, 0.04166667],
       [0.13888889, 0.44444444, 0.06779661, 0.        ],
       [0.        , 0.44444444, 0.01694915, 0.        ],
       [0.41666667, 1.        , 0.03389831, 0.04166667],
       [0.38888889, 0.47444444, 0.08474576, 0.125     ],
       [0.30555556, 0.94444444, 0.05084746, 0.125     ],
       [0.22222222, 0.72222222, 0.06779661, 0.08333333],
       [0.38888889, 0.88888889, 0.11864407, 0.08333333],
       [0.22222222, 0.88888889, 0.08474576, 0.08333333],
       [0.30555556, 0.66666667, 0.11864407, 0.04166667],
       [0.22222222, 0.83333333, 0.08474576, 0.125     ],
       [0.08333333, 0.77777778, 0.        , 0.04166667],
       [0.22222222, 0.61111111, 0.11864407, 0.16666667],
       [0.13888889, 0.66666667, 0.15254237, 0.04166667],
       [0.19444444, 0.44444444, 0.10169492, 0.04166667],
       [0.19444444, 0.66666667, 0.10169492, 0.125     ],
       [0.25      , 0.72222222, 0.08474576, 0.04166667],
       [0.25      , 0.66666667, 0.06779661, 0.04166667],
       [0.11111111, 0.55555556, 0.10169492, 0.04166667],
       [0.13888889, 0.5       , 0.10169492, 0.04166667],
       [0.30555556, 0.66666667, 0.08474576, 0.125     ],
       [0.25      , 0.47444444, 0.08474576, 0.        ],
       [0.33333333, 0.47444444, 0.06779661, 0.04166667],
       [0.16666667, 0.5       , 0.08474576, 0.        ],
       [0.19444444, 0.55555556, 0.03389831, 0.04166667],
       [0.33333333, 0.72222222, 0.05084746, 0.04166667],
       [0.16666667, 0.5       , 0.08474576, 0.        ],
       [0.02777778, 0.44444444, 0.05084746, 0.04166667],
       [0.22222222, 0.66666667, 0.08474576, 0.04166667],
       [0.19444444, 0.72222222, 0.05084746, 0.08333333],
       [0.05555556, 0.05555556, 0.05084746, 0.08333333],
       [0.02777778, 0.55555556, 0.05084746, 0.04166667],
       [0.19444444, 0.72222222, 0.10169492, 0.20833333],
       [0.22222222, 0.88888889, 0.15254237, 0.125     ],
       [0.13888889, 0.44444444, 0.06779661, 0.08333333],
       [0.22222222, 0.88888889, 0.10169492, 0.04166667],
       [0.08333333, 0.55555556, 0.06779661, 0.04166667],
       [0.27777778, 0.83333333, 0.08474576, 0.04166667],
       [0.19444444, 0.61111111, 0.06779661, 0.04166667],
       [0.75      , 0.55555556, 0.62711864, 0.54166667],
       [0.58333333, 0.55555556, 0.59322034, 0.58333333],
       [0.72222222, 0.5       , 0.66101695, 0.58333333],
       [0.33333333, 0.05555556, 0.50847458, 0.5       ],
       [0.61111111, 0.33333333, 0.61016949, 0.58333333],
       [0.38888889, 0.33333333, 0.59322034, 0.5       ],
       [0.55555556, 0.61111111, 0.62711864, 0.625     ],
       [0.16666667, 0.11111111, 0.38983051, 0.375     ],
       [0.63888889, 0.38888889, 0.61016949, 0.5       ],
       [0.25      , 0.27777778, 0.49152542, 0.54166667],
       [0.19444444, 0.47444444, 0.42372881, 0.375     ],
       [0.44444444, 0.44444444, 0.54237288, 0.58333333],
       [0.47222222, 0.        , 0.50847458, 0.375     ],
       [0.5       , 0.38888889, 0.62711864, 0.54166667],
       [0.36111111, 0.38888889, 0.44067797, 0.5       ],
       [0.66666667, 0.5       , 0.57627119, 0.54166667],
       [0.36111111, 0.44444444, 0.59322034, 0.58333333],
       [0.41666667, 0.27777778, 0.52542373, 0.375     ],
       [0.52777778, 0.        , 0.59322034, 0.58333333],
       [0.36111111, 0.16666667, 0.49152542, 0.41666667],
       [0.44444444, 0.55555556, 0.6440678 , 0.70833333],
       [0.5       , 0.33333333, 0.50847458, 0.5       ],
       [0.55555556, 0.16666667, 0.66101695, 0.58333333],
       [0.5       , 0.33333333, 0.62711864, 0.45833333],
       [0.58333333, 0.38888889, 0.55932203, 0.5       ],
       [0.63888889, 0.44444444, 0.57627119, 0.54166667],
       [0.69444444, 0.33333333, 0.6440678 , 0.54166667],
       [0.66666667, 0.44444444, 0.6779661 , 0.66666667],
       [0.47222222, 0.38888889, 0.59322034, 0.58333333],
       [0.38888889, 0.22222222, 0.42372881, 0.375     ],
       [0.33333333, 0.11111111, 0.47457627, 0.41666667],
       [0.33333333, 0.11111111, 0.45762712, 0.375     ],
       [0.41666667, 0.27777778, 0.49152542, 0.45833333],
       [0.47222222, 0.27777778, 0.69491525, 0.625     ],
       [0.30555556, 0.44444444, 0.59322034, 0.58333333],
       [0.47222222, 0.66666667, 0.59322034, 0.625     ],
       [0.66666667, 0.5       , 0.62711864, 0.58333333],
       [0.55555556, 0.05555556, 0.57627119, 0.5       ],
       [0.36111111, 0.44444444, 0.52542373, 0.5       ],
       [0.33333333, 0.16666667, 0.50847458, 0.5       ],
       [0.33333333, 0.22222222, 0.57627119, 0.45833333],
       [0.5       , 0.44444444, 0.61016949, 0.54166667],
       [0.41666667, 0.22222222, 0.50847458, 0.45833333],
       [0.19444444, 0.05555556, 0.38983051, 0.375     ],
       [0.36111111, 0.27777778, 0.54237288, 0.5       ],
       [0.38888889, 0.44444444, 0.54237288, 0.45833333],
       [0.38888889, 0.38888889, 0.54237288, 0.5       ],
       [0.52777778, 0.38888889, 0.55932203, 0.5       ],
       [0.22222222, 0.16666667, 0.33898305, 0.41666667],
       [0.38888889, 0.33333333, 0.52542373, 0.5       ],
       [0.55555556, 0.61111111, 0.84745763, 1.        ],
       [0.41666667, 0.27777778, 0.69491525, 0.75      ],
       [0.77777778, 0.44444444, 0.83050847, 0.83333333],
       [0.55555556, 0.38888889, 0.77966102, 0.70833333],
       [0.61111111, 0.44444444, 0.81355932, 0.875     ],
       [0.91666667, 0.44444444, 0.94915254, 0.83333333],
       [0.16666667, 0.16666667, 0.59322034, 0.66666667],
       [0.83333333, 0.38888889, 0.89830508, 0.70833333],
       [0.66666667, 0.16666667, 0.81355932, 0.70833333],
       [0.80555556, 0.77777778, 0.86440678, 1.        ],
       [0.61111111, 0.55555556, 0.69491525, 0.79166667],
       [0.58333333, 0.27777778, 0.72881356, 0.75      ],
       [0.69444444, 0.44444444, 0.76271186, 0.83333333],
       [0.38888889, 0.16666667, 0.6779661 , 0.79166667],
       [0.41666667, 0.33333333, 0.69491525, 0.95833333],
       [0.58333333, 0.55555556, 0.72881356, 0.91666667],
       [0.61111111, 0.44444444, 0.76271186, 0.70833333],
       [0.94444444, 0.88888889, 0.96610169, 0.875     ],
       [0.94444444, 0.22222222, 1.        , 0.91666667],
       [0.47222222, 0.        , 0.6779661 , 0.58333333],
       [0.72222222, 0.55555556, 0.79661017, 0.91666667],
       [0.36111111, 0.33333333, 0.66101695, 0.79166667],
       [0.94444444, 0.33333333, 0.96610169, 0.79166667],
       [0.55555556, 0.27777778, 0.66101695, 0.70833333],
       [0.66666667, 0.61111111, 0.79661017, 0.83333333],
       [0.80555556, 0.55555556, 0.84745763, 0.70833333],
       [0.52777778, 0.33333333, 0.6440678 , 0.70833333],
       [0.5       , 0.44444444, 0.66101695, 0.70833333],
       [0.58333333, 0.33333333, 0.77966102, 0.83333333],
       [0.80555556, 0.44444444, 0.81355932, 0.625     ],
       [0.86111111, 0.33333333, 0.86440678, 0.75      ],
       [1.        , 0.88888889, 0.91525424, 0.79166667],
       [0.58333333, 0.33333333, 0.77966102, 0.875     ],
       [0.55555556, 0.33333333, 0.69491525, 0.58333333],
       [0.5       , 0.22222222, 0.77966102, 0.54166667],
       [0.94444444, 0.44444444, 0.86440678, 0.91666667],
       [0.55555556, 0.66666667, 0.77966102, 0.95833333],
       [0.58333333, 0.5       , 0.76271186, 0.70833333],
       [0.47222222, 0.44444444, 0.6440678 , 0.70833333],
       [0.72222222, 0.5       , 0.74576271, 0.83333333],
       [0.66666667, 0.5       , 0.77966102, 0.95833333],
       [0.72222222, 0.5       , 0.69491525, 0.91666667],
       [0.41666667, 0.27777778, 0.69491525, 0.75      ],
       [0.69444444, 0.55555556, 0.83050847, 0.91666667],
       [0.66666667, 0.61111111, 0.79661017, 1.        ],
       [0.66666667, 0.44444444, 0.71186441, 0.91666667],
       [0.55555556, 0.16666667, 0.6779661 , 0.75      ],
       [0.61111111, 0.44444444, 0.71186441, 0.79166667],
       [0.52777778, 0.66666667, 0.74576271, 0.91666667],
       [0.44444444, 0.44444444, 0.69491525, 0.70833333]])

In [25]:
y=tf.keras.utils.to_categorical(y,3)
y

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]], dtype=float32)

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [27]:
#create model
from tensorflow import keras

#create sequential model in keras
model=tf.keras.models.Sequential()

#add 1st input layer
model.add(keras.layers.Dense(128, #no.of nodes
                             input_shape=(4,), #number of input variable
                             activation='relu')) #activation function

#add hidden layer
model.add(keras.layers.Dense(128, activation='relu'))

#add output layer
model.add(keras.layers.Dense(3, activation='softmax'))

#compile the model with loss and metrics
model.compile(loss='categorical_crossentropy', metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               640

 dense_1 (Dense)             (None, 128)               16512

 dense_2 (Dense)             (None, 3)                 387

=================================================================
Total params: 17,539
Trainable params: 17,539
Non-trainable params: 0
_________________________________________________________________