# Outliers and scaling

In [2]:
import pandas as pd
df=pd.read_csv("Mall_Customers.csv")
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

# Outlier detection

In [4]:
def IQR_values(df,column_name):
    q1=df[column_name].quantile(0.25) #to set quantille of columns
    q2=df[column_name].quantile(0.50)
    q3=df[column_name].quantile(0.75)
    IQR=q3-q1 #to find IQR value
    low_limit=q1-1.5*IQR #setting low limit and upper limit
    upper_limit=q3+1.5*IQR
    return low_limit,upper_limit

columns=['Age','Annual Income (k$)','Spending Score (1-100)'] #we r checking outliers of these columns
outlier={}
for column in columns:
    low_limit,upper_limit=IQR_values(df,column)
    outlier[column]=[low_limit,upper_limit]

In [5]:
outlier

{'Age': [-1.625, 79.375],
 'Annual Income (k$)': [-13.25, 132.75],
 'Spending Score (1-100)': [-22.625, 130.375]}

# Drop outliers of Annual income

In [8]:
df_income_outliers=(df['Annual Income (k$)']>outlier['Annual Income (k$)'][1])|(df['Annual Income (k$)']<outlier['Annual Income (k$)'][0])
x=df.loc[df_income_outliers].index
x

Int64Index([198, 199], dtype='int64')

In [9]:
drop_df=df.drop(x,axis=0)
drop_df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
193         194  Female   38                 113                      91
194         195  Female   47                 120                      16
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74

[198 rows x 5 columns]

# SCALING

In [10]:
from sklearn.preprocessing import StandardScaler

# Scaling using StandardScaler

In [11]:
scaler = StandardScaler()

In [12]:
df1 = df.loc[0:199,'Age':'Spending Score (1-100)']
df1

     Age  Annual Income (k$)  Spending Score (1-100)
0     19                  15                      39
1     21                  15                      81
2     20                  16                       6
3     23                  16                      77
4     31                  17                      40
..   ...                 ...                     ...
195   35                 120                      79
196   45                 126                      28
197   32                 126                      74
198   32                 137                      18
199   30                 137                      83

[200 rows x 3 columns]

In [13]:
x = scaler.fit_transform(df1)
x

array([[-1.42456879, -1.73899919, -0.43480148],
       [-1.28103541, -1.73899919,  1.19570407],
       [-1.3528021 , -1.70082976, -1.71591298],
       [-1.13750203, -1.70082976,  1.04041783],
       [-0.56336851, -1.66266033, -0.39597992],
       [-1.20926872, -1.66266033,  1.00159627],
       [-0.27630176, -1.62449091, -1.71591298],
       [-1.13750203, -1.62449091,  1.70038436],
       [ 1.80493225, -1.58632148, -1.83237767],
       [-0.6351352 , -1.58632148,  0.84631002],
       [ 2.02023231, -1.58632148, -1.4053405 ],
       [-0.27630176, -1.58632148,  1.89449216],
       [ 1.37433211, -1.54815205, -1.36651894],
       [-1.06573534, -1.54815205,  1.04041783],
       [-0.13276838, -1.54815205, -1.44416206],
       [-1.20926872, -1.54815205,  1.11806095],
       [-0.27630176, -1.50998262, -0.59008772],
       [-1.3528021 , -1.50998262,  0.61338066],
       [ 0.94373197, -1.43364376, -0.82301709],
       [-0.27630176, -1.43364376,  1.8556706 ],
       [-0.27630176, -1.39547433, -0.59008772],
       [-0.99396865, -1.39547433,  0.88513158],
       [ 0.51313183, -1.3573049 , -1.75473454],
       [-0.56336851, -1.3573049 ,  0.88513158],
       [ 1.08726535, -1.24279661, -1.4053405 ],
       [-0.70690189, -1.24279661,  1.23452563],
       [ 0.44136514, -1.24279661, -0.7065524 ],
       [-0.27630176, -1.24279661,  0.41927286],
       [ 0.08253169, -1.20462718, -0.74537397],
       [-1.13750203, -1.20462718,  1.42863343],
       [ 1.51786549, -1.16645776, -1.7935561 ],
       [-1.28103541, -1.16645776,  0.88513158],
       [ 1.01549866, -1.05194947, -1.7935561 ],
       [-1.49633548, -1.05194947,  1.62274124],
       [ 0.7284319 , -1.05194947, -1.4053405 ],
       [-1.28103541, -1.05194947,  1.19570407],
       [ 0.22606507, -1.01378004, -1.28887582],
       [-0.6351352 , -1.01378004,  0.88513158],
       [-0.20453507, -0.89927175, -0.93948177],
       [-1.3528021 , -0.89927175,  0.96277471],
       [ 1.87669894, -0.86110232, -0.59008772],
       [-1.06573534, -0.86110232,  1.62274124],
       [ 0.65666521, -0.82293289, -0.55126616],
       [-0.56336851, -0.82293289,  0.41927286],
       [ 0.7284319 , -0.82293289, -0.86183865],
       [-1.06573534, -0.82293289,  0.5745591 ],
       [ 0.80019859, -0.78476346,  0.18634349],
       [-0.85043527, -0.78476346, -0.12422899],
       [-0.70690189, -0.78476346, -0.3183368 ],
       [-0.56336851, -0.78476346, -0.3183368 ],
       [ 0.7284319 , -0.70842461,  0.06987881],
       [-0.41983513, -0.70842461,  0.38045129],
       [-0.56336851, -0.67025518,  0.14752193],
       [ 1.4460988 , -0.67025518,  0.38045129],
       [ 0.80019859, -0.67025518, -0.20187212],
       [ 0.58489852, -0.67025518, -0.35715836],
       [ 0.87196528, -0.63208575, -0.00776431],
       [ 2.16376569, -0.63208575, -0.16305055],
       [-0.85043527, -0.55574689,  0.03105725],
       [ 1.01549866, -0.55574689, -0.16305055],
       [ 2.23553238, -0.55574689,  0.22516505],
       [-1.42456879, -0.55574689,  0.18634349],
       [ 2.02023231, -0.51757746,  0.06987881],
       [ 1.08726535, -0.51757746,  0.34162973],
       [ 1.73316556, -0.47940803,  0.03105725],
       [-1.49633548, -0.47940803,  0.34162973],
       [ 0.29783176, -0.47940803, -0.00776431],
       [ 2.091999  , -0.47940803, -0.08540743],
       [-1.42456879, -0.47940803,  0.34162973],
       [-0.49160182, -0.47940803, -0.12422899],
       [ 2.23553238, -0.4412386 ,  0.18634349],
       [ 0.58489852, -0.4412386 , -0.3183368 ],
       [ 1.51786549, -0.40306917, -0.04658587],
       [ 1.51786549, -0.40306917,  0.22516505],
       [ 1.4460988 , -0.25039146, -0.12422899],
       [-0.92220196, -0.25039146,  0.14752193],
       [ 0.44136514, -0.25039146,  0.10870037],
       [ 0.08253169, -0.25039146, -0.08540743],
       [-1.13750203, -0.25039146,  0.06987881],
       [ 0.7284319 , -0.25039146, -0.3183368 ],
       [ 1.30256542, -0.25039146,  0.03105725],
       [-0.06100169, -0.25039146,  0.18634349],
       [ 2.02023231, -0.25039146, -0.35715836],
       [ 0.51313183, -0.25039146, -0.24069368],
       [-1.28103541, -0.25039146,  0.26398661],
       [ 0.65666521, -0.25039146, -0.16305055],
       [ 1.15903204, -0.13588317,  0.30280817],
       [-1.20926872, -0.13588317,  0.18634349],
       [-0.34806844, -0.09771374,  0.38045129],
       [ 0.80019859, -0.09771374, -0.16305055],
       [ 2.091999  , -0.05954431,  0.18634349],
       [-1.49633548, -0.05954431, -0.35715836],
       [ 0.65666521, -0.02137488, -0.04658587],
       [ 0.08253169, -0.02137488, -0.39597992],
       [-0.49160182, -0.02137488, -0.3183368 ],
       [-1.06573534, -0.02137488,  0.06987881],
       [ 0.58489852, -0.02137488, -0.12422899],
       [-0.85043527, -0.02137488, -0.00776431],
       [ 0.65666521,  0.01679455, -0.3183368 ],
       [-1.3528021 ,  0.01679455, -0.04658587],
       [-1.13750203,  0.05496398, -0.35715836],
       [ 0.7284319 ,  0.05496398, -0.08540743],
       [ 2.02023231,  0.05496398,  0.34162973],
       [-0.92220196,  0.05496398,  0.18634349],
       [ 0.7284319 ,  0.05496398,  0.22516505],
       [-1.28103541,  0.05496398, -0.3183368 ],
       [ 1.94846562,  0.09313341, -0.00776431],
       [ 1.08726535,  0.09313341, -0.16305055],
       [ 2.091999  ,  0.09313341, -0.27951524],
       [ 1.94846562,  0.09313341, -0.08540743],
       [ 1.87669894,  0.09313341,  0.06987881],
       [-1.42456879,  0.09313341,  0.14752193],
       [-0.06100169,  0.13130284, -0.3183368 ],
       [-1.42456879,  0.13130284, -0.16305055],
       [-1.49633548,  0.16947227, -0.08540743],
       [-1.42456879,  0.16947227, -0.00776431],
       [ 1.73316556,  0.16947227, -0.27951524],
       [ 0.7284319 ,  0.16947227,  0.34162973],
       [ 0.87196528,  0.24581112, -0.27951524],
       [ 0.80019859,  0.24581112,  0.26398661],
       [-0.85043527,  0.24581112,  0.22516505],
       [-0.06100169,  0.24581112, -0.39597992],
       [ 0.08253169,  0.32214998,  0.30280817],
       [ 0.010765  ,  0.32214998,  1.58391968],
       [-1.13750203,  0.36031941, -0.82301709],
       [-0.56336851,  0.36031941,  1.04041783],
       [ 0.29783176,  0.39848884, -0.59008772],
       [ 0.08253169,  0.39848884,  1.73920592],
       [ 1.4460988 ,  0.39848884, -1.52180518],
       [-0.06100169,  0.39848884,  0.96277471],
       [ 0.58489852,  0.39848884, -1.5994483 ],
       [ 0.010765  ,  0.39848884,  0.96277471],
       [-0.99396865,  0.43665827, -0.62890928],
       [-0.56336851,  0.43665827,  0.80748846],
       [-1.3528021 ,  0.4748277 , -1.75473454],
       [-0.70690189,  0.4748277 ,  1.46745499],
       [ 0.36959845,  0.4748277 , -1.67709142],
       [-0.49160182,  0.4748277 ,  0.88513158],
       [-1.42456879,  0.51299713, -1.56062674],
       [-0.27630176,  0.51299713,  0.84631002],
       [ 1.30256542,  0.55116656, -1.75473454],
       [-0.49160182,  0.55116656,  1.6615628 ],
       [-0.77866858,  0.58933599, -0.39597992],
       [-0.49160182,  0.58933599,  1.42863343],
       [-0.99396865,  0.62750542, -1.48298362],
       [-0.77866858,  0.62750542,  1.81684904],
       [ 0.65666521,  0.62750542, -0.55126616],
       [-0.49160182,  0.62750542,  0.92395314],
       [-0.34806844,  0.66567484, -1.09476801],
       [-0.34806844,  0.66567484,  1.54509812],
       [ 0.29783176,  0.66567484, -1.28887582],
       [ 0.010765  ,  0.66567484,  1.46745499],
       [ 0.36959845,  0.66567484, -1.17241113],
       [-0.06100169,  0.66567484,  1.00159627],
       [ 0.58489852,  0.66567484, -1.32769738],
       [-0.85043527,  0.66567484,  1.50627656],
       [-0.13276838,  0.66567484, -1.91002079],
       [-0.6351352 ,  0.66567484,  1.07923939],
       [-0.34806844,  0.66567484, -1.91002079],
       [-0.6351352 ,  0.66567484,  0.88513158],
       [ 1.23079873,  0.70384427, -0.59008772],
       [-0.70690189,  0.70384427,  1.27334719],
       [-1.42456879,  0.78018313, -1.75473454],
       [-0.56336851,  0.78018313,  1.6615628 ],
       [ 0.80019859,  0.93286085, -0.93948177],
       [-0.20453507,  0.93286085,  0.96277471],
       [ 0.22606507,  0.97103028, -1.17241113],
       [-0.41983513,  0.97103028,  1.73920592],
       [-0.20453507,  1.00919971, -0.90066021],
       [-0.49160182,  1.00919971,  0.49691598],
       [ 0.08253169,  1.00919971, -1.44416206],
       [-0.77866858,  1.00919971,  0.96277471],
       [-0.20453507,  1.00919971, -1.56062674],
       [-0.20453507,  1.00919971,  1.62274124],
       [ 0.94373197,  1.04736914, -1.44416206],
       [-0.6351352 ,  1.04736914,  1.38981187],
       [ 1.37433211,  1.04736914, -1.36651894],
       [-0.85043527,  1.04736914,  0.72984534],
       [ 1.4460988 ,  1.23821628, -1.4053405 ],
       [-0.27630176,  1.23821628,  1.54509812],
       [-0.13276838,  1.390894  , -0.7065524 ],
       [-0.49160182,  1.390894  ,  1.38981187],
       [ 0.51313183,  1.42906343, -1.36651894],
       [-0.70690189,  1.42906343,  1.46745499],
       [ 0.15429838,  1.46723286, -0.43480148],
       [-0.6351352 ,  1.46723286,  1.81684904],
       [ 1.08726535,  1.54357172, -1.01712489],
       [-0.77866858,  1.54357172,  0.69102378],
       [ 0.15429838,  1.61991057, -1.28887582],
       [-0.20453507,  1.61991057,  1.35099031],
       [-0.34806844,  1.61991057, -1.05594645],
       [-0.49160182,  1.61991057,  0.72984534],
       [-0.41983513,  2.00160487, -1.63826986],
       [-0.06100169,  2.00160487,  1.58391968],
       [ 0.58489852,  2.26879087, -1.32769738],
       [-0.27630176,  2.26879087,  1.11806095],
       [ 0.44136514,  2.49780745, -0.86183865],
       [-0.49160182,  2.49780745,  0.92395314],
       [-0.49160182,  2.91767117, -1.25005425],
       [-0.6351352 ,  2.91767117,  1.27334719]])

In [14]:
df2=pd.DataFrame(x,columns=df1.columns)
df2

          Age  Annual Income (k$)  Spending Score (1-100)
0   -1.424569           -1.738999               -0.434801
1   -1.281035           -1.738999                1.195704
2   -1.352802           -1.700830               -1.715913
3   -1.137502           -1.700830                1.040418
4   -0.563369           -1.662660               -0.395980
..        ...                 ...                     ...
195 -0.276302            2.268791                1.118061
196  0.441365            2.497807               -0.861839
197 -0.491602            2.497807                0.923953
198 -0.491602            2.917671               -1.250054
199 -0.635135            2.917671                1.273347

[200 rows x 3 columns]

# Scaling using MinMaxScaler

In [17]:
from sklearn.preprocessing import MinMaxScaler
scaler2 = MinMaxScaler()

In [18]:
y = scaler2.fit_transform(df1)
y

array([[0.01923077, 0.        , 0.3877551 ],
       [0.05769231, 0.        , 0.81632653],
       [0.03846154, 0.00819672, 0.05102041],
       [0.09615385, 0.00819672, 0.7755102 ],
       [0.25      , 0.01639344, 0.39795918],
       [0.07692308, 0.01639344, 0.76530612],
       [0.32692308, 0.02459016, 0.05102041],
       [0.09615385, 0.02459016, 0.94897959],
       [0.88461538, 0.03278689, 0.02040816],
       [0.23076923, 0.03278689, 0.7244898 ],
       [0.94230769, 0.03278689, 0.13265306],
       [0.32692308, 0.03278689, 1.        ],
       [0.76923077, 0.04098361, 0.14285714],
       [0.11538462, 0.04098361, 0.7755102 ],
       [0.36538462, 0.04098361, 0.12244898],
       [0.07692308, 0.04098361, 0.79591837],
       [0.32692308, 0.04918033, 0.34693878],
       [0.03846154, 0.04918033, 0.66326531],
       [0.65384615, 0.06557377, 0.28571429],
       [0.32692308, 0.06557377, 0.98979592],
       [0.32692308, 0.07377049, 0.34693878],
       [0.13461538, 0.07377049, 0.73469388],
       [0.53846154, 0.08196721, 0.04081633],
       [0.25      , 0.08196721, 0.73469388],
       [0.69230769, 0.10655738, 0.13265306],
       [0.21153846, 0.10655738, 0.82653061],
       [0.51923077, 0.10655738, 0.31632653],
       [0.32692308, 0.10655738, 0.6122449 ],
       [0.42307692, 0.1147541 , 0.30612245],
       [0.09615385, 0.1147541 , 0.87755102],
       [0.80769231, 0.12295082, 0.03061224],
       [0.05769231, 0.12295082, 0.73469388],
       [0.67307692, 0.14754098, 0.03061224],
       [0.        , 0.14754098, 0.92857143],
       [0.59615385, 0.14754098, 0.13265306],
       [0.05769231, 0.14754098, 0.81632653],
       [0.46153846, 0.1557377 , 0.16326531],
       [0.23076923, 0.1557377 , 0.73469388],
       [0.34615385, 0.18032787, 0.25510204],
       [0.03846154, 0.18032787, 0.75510204],
       [0.90384615, 0.18852459, 0.34693878],
       [0.11538462, 0.18852459, 0.92857143],
       [0.57692308, 0.19672131, 0.35714286],
       [0.25      , 0.19672131, 0.6122449 ],
       [0.59615385, 0.19672131, 0.2755102 ],
       [0.11538462, 0.19672131, 0.65306122],
       [0.61538462, 0.20491803, 0.55102041],
       [0.17307692, 0.20491803, 0.46938776],
       [0.21153846, 0.20491803, 0.41836735],
       [0.25      , 0.20491803, 0.41836735],
       [0.59615385, 0.22131148, 0.52040816],
       [0.28846154, 0.22131148, 0.60204082],
       [0.25      , 0.2295082 , 0.54081633],
       [0.78846154, 0.2295082 , 0.60204082],
       [0.61538462, 0.2295082 , 0.44897959],
       [0.55769231, 0.2295082 , 0.40816327],
       [0.63461538, 0.23770492, 0.5       ],
       [0.98076923, 0.23770492, 0.45918367],
       [0.17307692, 0.25409836, 0.51020408],
       [0.67307692, 0.25409836, 0.45918367],
       [1.        , 0.25409836, 0.56122449],
       [0.01923077, 0.25409836, 0.55102041],
       [0.94230769, 0.26229508, 0.52040816],
       [0.69230769, 0.26229508, 0.59183673],
       [0.86538462, 0.2704918 , 0.51020408],
       [0.        , 0.2704918 , 0.59183673],
       [0.48076923, 0.2704918 , 0.5       ],
       [0.96153846, 0.2704918 , 0.47959184],
       [0.01923077, 0.2704918 , 0.59183673],
       [0.26923077, 0.2704918 , 0.46938776],
       [1.        , 0.27868852, 0.55102041],
       [0.55769231, 0.27868852, 0.41836735],
       [0.80769231, 0.28688525, 0.48979592],
       [0.80769231, 0.28688525, 0.56122449],
       [0.78846154, 0.31967213, 0.46938776],
       [0.15384615, 0.31967213, 0.54081633],
       [0.51923077, 0.31967213, 0.53061224],
       [0.42307692, 0.31967213, 0.47959184],
       [0.09615385, 0.31967213, 0.52040816],
       [0.59615385, 0.31967213, 0.41836735],
       [0.75      , 0.31967213, 0.51020408],
       [0.38461538, 0.31967213, 0.55102041],
       [0.94230769, 0.31967213, 0.40816327],
       [0.53846154, 0.31967213, 0.43877551],
       [0.05769231, 0.31967213, 0.57142857],
       [0.57692308, 0.31967213, 0.45918367],
       [0.71153846, 0.3442623 , 0.58163265],
       [0.07692308, 0.3442623 , 0.55102041],
       [0.30769231, 0.35245902, 0.60204082],
       [0.61538462, 0.35245902, 0.45918367],
       [0.96153846, 0.36065574, 0.55102041],
       [0.        , 0.36065574, 0.40816327],
       [0.57692308, 0.36885246, 0.48979592],
       [0.42307692, 0.36885246, 0.39795918],
       [0.26923077, 0.36885246, 0.41836735],
       [0.11538462, 0.36885246, 0.52040816],
       [0.55769231, 0.36885246, 0.46938776],
       [0.17307692, 0.36885246, 0.5       ],
       [0.57692308, 0.37704918, 0.41836735],
       [0.03846154, 0.37704918, 0.48979592],
       [0.09615385, 0.3852459 , 0.40816327],
       [0.59615385, 0.3852459 , 0.47959184],
       [0.94230769, 0.3852459 , 0.59183673],
       [0.15384615, 0.3852459 , 0.55102041],
       [0.59615385, 0.3852459 , 0.56122449],
       [0.05769231, 0.3852459 , 0.41836735],
       [0.92307692, 0.39344262, 0.5       ],
       [0.69230769, 0.39344262, 0.45918367],
       [0.96153846, 0.39344262, 0.42857143],
       [0.92307692, 0.39344262, 0.47959184],
       [0.90384615, 0.39344262, 0.52040816],
       [0.01923077, 0.39344262, 0.54081633],
       [0.38461538, 0.40163934, 0.41836735],
       [0.01923077, 0.40163934, 0.45918367],
       [0.        , 0.40983607, 0.47959184],
       [0.01923077, 0.40983607, 0.5       ],
       [0.86538462, 0.40983607, 0.42857143],
       [0.59615385, 0.40983607, 0.59183673],
       [0.63461538, 0.42622951, 0.42857143],
       [0.61538462, 0.42622951, 0.57142857],
       [0.17307692, 0.42622951, 0.56122449],
       [0.38461538, 0.42622951, 0.39795918],
       [0.42307692, 0.44262295, 0.58163265],
       [0.40384615, 0.44262295, 0.91836735],
       [0.09615385, 0.45081967, 0.28571429],
       [0.25      , 0.45081967, 0.7755102 ],
       [0.48076923, 0.45901639, 0.34693878],
       [0.42307692, 0.45901639, 0.95918367],
       [0.78846154, 0.45901639, 0.10204082],
       [0.38461538, 0.45901639, 0.75510204],
       [0.55769231, 0.45901639, 0.08163265],
       [0.40384615, 0.45901639, 0.75510204],
       [0.13461538, 0.46721311, 0.33673469],
       [0.25      , 0.46721311, 0.71428571],
       [0.03846154, 0.47540984, 0.04081633],
       [0.21153846, 0.47540984, 0.8877551 ],
       [0.5       , 0.47540984, 0.06122449],
       [0.26923077, 0.47540984, 0.73469388],
       [0.01923077, 0.48360656, 0.09183673],
       [0.32692308, 0.48360656, 0.7244898 ],
       [0.75      , 0.49180328, 0.04081633],
       [0.26923077, 0.49180328, 0.93877551],
       [0.19230769, 0.5       , 0.39795918],
       [0.26923077, 0.5       , 0.87755102],
       [0.13461538, 0.50819672, 0.1122449 ],
       [0.19230769, 0.50819672, 0.97959184],
       [0.57692308, 0.50819672, 0.35714286],
       [0.26923077, 0.50819672, 0.74489796],
       [0.30769231, 0.51639344, 0.21428571],
       [0.30769231, 0.51639344, 0.90816327],
       [0.48076923, 0.51639344, 0.16326531],
       [0.40384615, 0.51639344, 0.8877551 ],
       [0.5       , 0.51639344, 0.19387755],
       [0.38461538, 0.51639344, 0.76530612],
       [0.55769231, 0.51639344, 0.15306122],
       [0.17307692, 0.51639344, 0.89795918],
       [0.36538462, 0.51639344, 0.        ],
       [0.23076923, 0.51639344, 0.78571429],
       [0.30769231, 0.51639344, 0.        ],
       [0.23076923, 0.51639344, 0.73469388],
       [0.73076923, 0.52459016, 0.34693878],
       [0.21153846, 0.52459016, 0.83673469],
       [0.01923077, 0.54098361, 0.04081633],
       [0.25      , 0.54098361, 0.93877551],
       [0.61538462, 0.57377049, 0.25510204],
       [0.34615385, 0.57377049, 0.75510204],
       [0.46153846, 0.58196721, 0.19387755],
       [0.28846154, 0.58196721, 0.95918367],
       [0.34615385, 0.59016393, 0.26530612],
       [0.26923077, 0.59016393, 0.63265306],
       [0.42307692, 0.59016393, 0.12244898],
       [0.19230769, 0.59016393, 0.75510204],
       [0.34615385, 0.59016393, 0.09183673],
       [0.34615385, 0.59016393, 0.92857143],
       [0.65384615, 0.59836066, 0.12244898],
       [0.23076923, 0.59836066, 0.86734694],
       [0.76923077, 0.59836066, 0.14285714],
       [0.17307692, 0.59836066, 0.69387755],
       [0.78846154, 0.63934426, 0.13265306],
       [0.32692308, 0.63934426, 0.90816327],
       [0.36538462, 0.67213115, 0.31632653],
       [0.26923077, 0.67213115, 0.86734694],
       [0.53846154, 0.68032787, 0.14285714],
       [0.21153846, 0.68032787, 0.8877551 ],
       [0.44230769, 0.68852459, 0.3877551 ],
       [0.23076923, 0.68852459, 0.97959184],
       [0.69230769, 0.70491803, 0.23469388],
       [0.19230769, 0.70491803, 0.68367347],
       [0.44230769, 0.72131148, 0.16326531],
       [0.34615385, 0.72131148, 0.85714286],
       [0.30769231, 0.72131148, 0.2244898 ],
       [0.26923077, 0.72131148, 0.69387755],
       [0.28846154, 0.80327869, 0.07142857],
       [0.38461538, 0.80327869, 0.91836735],
       [0.55769231, 0.86065574, 0.15306122],
       [0.32692308, 0.86065574, 0.79591837],
       [0.51923077, 0.90983607, 0.2755102 ],
       [0.26923077, 0.90983607, 0.74489796],
       [0.26923077, 1.        , 0.17346939],
       [0.23076923, 1.        , 0.83673469]])

In [19]:
df3 = pd.DataFrame(y,columns=df1.columns)
df3

          Age  Annual Income (k$)  Spending Score (1-100)
0    0.019231            0.000000                0.387755
1    0.057692            0.000000                0.816327
2    0.038462            0.008197                0.051020
3    0.096154            0.008197                0.775510
4    0.250000            0.016393                0.397959
..        ...                 ...                     ...
195  0.326923            0.860656                0.795918
196  0.519231            0.909836                0.275510
197  0.269231            0.909836                0.744898
198  0.269231            1.000000                0.173469
199  0.230769            1.000000                0.836735

[200 rows x 3 columns]