# Label Encoding

In [2]:
pd.set_option('display.max_columns', None)

In [47]:
import pandas as pd
df=pd.read_csv("student-data.csv")
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5,5,4,4,5,4,11,no
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,3,yes
392,MS,M,21,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5,5,3,3,3,3,3,no
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,0,yes
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3,2,3,3,3,5,5,no

In [48]:
from sklearn.preprocessing import LabelEncoder
lenc=LabelEncoder()

In [49]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'passed'],
      dtype='object')

In [56]:
for i in df.loc[:,['address','Pstatus','Mjob', 'Fjob', 'reason', 'guardian']]:
    df[i]=lenc.fit_transform(df[i])

In [57]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,0,0,18,1,GT3,0,4,4,0,4,0,1,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,no
1,0,0,17,1,GT3,1,1,1,0,2,0,0,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,no
2,0,0,15,1,LE3,1,1,1,0,2,2,1,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,yes
3,0,0,15,1,GT3,1,4,2,1,3,1,1,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,yes
4,0,0,16,1,GT3,1,3,3,2,2,1,0,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,1,1,20,1,LE3,0,2,2,3,3,0,2,1,2,2,no,yes,yes,no,yes,yes,no,no,5,5,4,4,5,4,11,no
391,1,1,17,1,LE3,1,3,1,3,3,0,1,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,3,yes
392,1,1,21,0,GT3,1,1,1,2,2,0,2,1,1,3,no,no,no,no,no,yes,no,no,5,5,3,3,3,3,3,no
393,1,1,18,0,LE3,1,3,2,3,2,0,1,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,0,yes
394,1,1,19,1,LE3,1,1,1,2,0,0,0,1,1,0,no,no,no,no,yes,yes,yes,no,3,2,3,3,3,5,5,no